*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mainSection{

    width: 60%;
    margin: 0 auto;
}
h1{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
}
h2{
    font-size: 2rem;
}

.myName {
    font-size: 3rem;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}
.aboutMe {
    padding-bottom: 1rem;
    font-style: italic;
    padding-left: 1rem;
    display: flex;
    font-size: 2rem;
}
ol {
    padding-bottom: 1rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
}

li{
    font-size: 1.5rem;
}
.listAndFoto{
    margin: 0 auto;
    
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    
  
    
}
.list {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}
.myFoto{
    padding-left: 1rem;
    display: flex;
    width: 500px;
    height: 500px;

}
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 2rem;
}
footer a{
    text-decoration: none;
}
svg{
    display: flex;
    margin-left: 1rem;
    width: 60px;
    height: 70px;
}
p{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
}
pre{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: 1.75rem;
}
